<footer>
    <div class="partFooter">
        <img src="https://imaster.academy/theme/ruta2/pix/login/logo-login.png" alt="" >   
</div>
    <div class="partFooter">
        <h4>Proyecto ciclo 4</h4>
        <a href="#">Grupo 8</a>
        <a href="#">Ruta 2</a>
        <a href="#"></a>
    </div>
    <div class="partFooter">
        <h4>Proyecto realizado por </h4>
        <a href="#">Carlos Alberto Vivas Reinoso</a>
        <a href="#">Rafael Antonio Londoño</a>
        <a href="#">Carolina Arias Rivas</a>
        <a href="#">Cristian Camilo Rengifo Soler</a>
        <a href="#">Deivis German Sthid Cardenas</a>

    </div>
    <div class="partFooter">
        <h4>Redes sociales</h4>
        <div class="social-media">
                <i ><img src="https://st2.depositphotos.com/1144386/7770/v/600/depositphotos_77704930-stock-illustration-original-square-windows-8-style.jpg" alt=""></i>
                <i ><img src="https://st2.depositphotos.com/1116329/11247/v/600/depositphotos_112471676-stock-illustration-vector-modern-colorful-flat-camera.jpg" alt=""></i>
                <i ></i>
                <i ></i>
        </div>
    </div>
</footer>
