<header>
<div class="contenedor">
    <section class="contenido-header">
        <section class="textos-header">
            <h1>Pet-Land</h1>
            <h3>Tienda de mascotas </h3>
            <br>
            <h4>Los mejores productos para su mascota</h4>
        </section>
        <img  src="https://cdn.pixabay.com/photo/2018/04/23/14/38/dog-3344414_960_720.jpg" alt="" >
    </section>
</div>
</header>
<section class="productos">
<div class="contenedor1">
    <h2 class="titulo">Productos que no deben faltar</h2>
    <div class="contenedor-articulo">
        <div class="articulo" data-aos="zoom-in-right">
            <img src="https://st3.depositphotos.com/11821474/15551/v/450/depositphotos_155516152-stock-illustration-vector-illustration-cat-litter-box.jpg" alt="" width="200px" height="200px">
            <h3>Arenero para gatos</h3>
            <p>Un arenero para que tu mascota haga sus necesidades, comodo, practico y facil de limpiar  </p>
        </div>

        <div class="articulo" data-aos="zoom-in-right">
            <img src="https://static6.depositphotos.com/1106005/640/i/600/depositphotos_6403003-stock-photo-dog-collar-and-leash.jpg" alt="" width="200px" height="200px">
            <h3>Collar de Seguridad</h3>
            <p> Un collar muy seguro y comodo para pasear a tu mascota elaborado con un material extra duarero  </p>

        </div>

        <div class="articulo" data-aos="zoom-in-right">
            <img src="https://static3.depositphotos.com/1000807/139/i/600/depositphotos_1392532-stock-photo-comb.jpg" alt="" width="200px" height="200px">
            <h3>Peine para Mascotas</h3>
            <p> Un peine especial con serdas suaves para la eiminacion de pelo suelto tu mascota se setira muy feliz   </p>
        </div>
        
        <div class="articulo" data-aos="zoom-in-right">
            <img src="https://st.depositphotos.com/1777829/4283/i/600/depositphotos_42830043-stock-photo-dog-biscuits-and-treats.jpg" alt="" width="200px" height="200px">
            <h3>Croquetas</h3>
            <p> Deliciosas y suaves croquetas que a tu mascota le encataran elaboradas con ingredientes naturales sin sales ni conservantes </p>

        </div>
        <div class="articulo" data-aos="zoom-in-right">
            <img src="https://st3.depositphotos.com/1310390/16534/v/600/depositphotos_165347948-stock-illustration-vector-pet-toys.jpg" alt="" width="200px" height="200px">
            <h3>Juguetes anti-estres</h3>
            <p> Estos juguetes estan diseñados para que tu mascota juegue y no dañe tus sapatos y muebles son suaves y muy divertidos </p>

        </div>
        <div class="articulo" data-aos="zoom-in-right">
            <img src="https://st.depositphotos.com/34283208/53507/i/600/depositphotos_535078100-stock-photo-side-view-two-empty-wooden.jpg" alt="" width="240px" height="200px">
            <h3>Pet House</h3>
            <p> Contamos con la elaboracion de casas en madera para tu mascota, son muy comodas y frescas, el valor varia segun el tamaño </p>

        </div>
    </div>
</div>
</section>
<section class="butique contenedor">
<section class="textos-butique">
    <h1>Butique con mucho estilo</h1>
    <hr>
    <br>
    <h5>Contamos con una butique muy a la moda donde encontraras las mejores prendas para vertir a tu mascota en toda ocasion </h5>
    <a href="#">Ir a la Butique</a>
</section>
<img src="https://static9.depositphotos.com/1594920/1088/i/600/depositphotos_10886454-stock-photo-group-of-4-dogs-dressed.jpg" alt="" data-aos="zoom-out-up" data-aos-duration="2000">
</section>

<section class="formulario">
    <form action="">
        <div class="form">
            <h1>Contactanos</h1>
            <div class="grupo">
                <input type="text" name="" id="" required><span class="barra"></span>
                <label>Nombre</label>
            </div>
            <div class="grupo">
                <input type="text" name="" id="" required><span class="barra"></span>
                <label>Apellido</label>
            </div>
            <div class="grupo">
                <input type="text" name="" id="" required><span class="barra"></span>
                <label>Telefono</label>
            </div>

            <div class="grupo">
                <input type="email" name="" id="" required><span class="barra"></span>
                <label>Email</label>
            </div>
            <div class="grupo">
            </div>
            <div class="grupo">
                <textarea name="" id="" rows="3" required></textarea><span class="barra"></span>
                <label>Mensaje</label>
            </div>
            <button type="submit">Suscribete</button>
        </div>
    </form> 

</section>

