* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1d273b;
    font-weight: 300;
}

.contenedor {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hiden;
}


.contenedor1 {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
}


h1 {
    font-size: 50px;
}

header::before {
    content: "";
    display: block;
    margin-bottom: 80px;
}
.contenido-header {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenido-header>img {
    width: 550px;
    animation: ease-in animat 1s;
    border-radius: 20px;
}

@keyframes animat {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}


.textos-header {
    margin: 0 0 0 30px;
}

.contenido-header p {
    font-weight: 100;
    margin-top: 14px;
    color: #5D6678;
}




.titulo {
    
    color: rgb(143, 140, 140);
    text-decoration: solid;
    font-size: 60px;
    border: solid;
    border-radius: 30px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* About us */

.productos{
    background: #aae7f7;
}

.contenedor-articulo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;
}

.articulo {
    width: 29%;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 15px 20px 40px 30px;
    transition: 0.5s;
    animation: ease-in animat 1.5s;
}

.articulo:hover {
    box-shadow: 0 4px 50px rgb(57, 132, 254, 50);
}





.productos>p {
    font-weight: 100;
    color: #5D6678;
    margin-top: 30px;
    padding-bottom: 30px;
}

.productos>a {
    color: #5D6678;
    font-weight: 400;
    text-decoration: none;
}






/* Questions */


.butique {
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.butique>img {
    width: 500px;
    animation: ease-in animat 1s;
}

.textos-butique {
    margin: 0 0 0 10px;
}

.textos-butique h5 {
    font-weight: 100;
    margin-top: 14px;
    color: #5D6678;
}


.textos-butique a {
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #1FDE82;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
}










/* formulario */

.formulario{
    
        background: #2570ff;
        padding-top: 30px;
        padding-bottom: 30px;
    }



.services {
    display: flex;
    justify-content: space-between;
}

.services>img {
    width: 500px;
}

.box-skills {
    margin: 30px 30px 0 0;
}

.box-skills h4 {
    font-size: 24px;
    background: #f2f2f2;
    width: 350px;
    border-radius: 6px;
    padding: 10px 0 10px 15px;
    margin-bottom: 10px;
}

.box-skills i {
    color: #1FDE82;
    font-size: 20px;
}

/*formulario*/
form{
background: #fff;
    width: 35%;
    padding: 30px 0;
    border-radius: 50px;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
}

.form>h1{
text-align: center;
}
.form{
    width: 100%;
    margin: auto;
}

form .grupo{
    position: relative;
    margin: 20px;
}

input, textarea{
    background: none;
    color:#c6c6c6;
    font-size: 18px;
    padding: 50px 10px 50px 5px;
    display: block;
    width: 100%;
    border:solid;
    border-bottom: 1px solid var(--colorTextos);
    resize: none;
}

input:focus,textarea:focus{
    outline: none;
    color: rgb(94,93,93);
}

input:focus~label, 
input:valid~label, 
textarea:focus~label, textarea:valid~label{
    position: absolute;
    top: -14px;
    font-size: 12px;
    color: #2196F3;
}

label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    left: 5px;
    top:10px;
    transition: 0.5s ease all;
    pointer-events: none;
    text-align: center;
}


input:focus~.barra::before, textarea:focus~.barra::before{
    width: 100%;
}
.barra{
    position: relative;
    display: block;
    width: 100%;
}
.barra::before{
    content: '';
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
    transition: 0.3s ease all;
    left: 0%;
}
button{
    background: #FC5C7D;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: block;
    width: 100px;
    height: 40px;
    border:none;
    color:#fff; 
    border-radius: 4px;
    font-size: 16px;
    margin: 10px auto;
    cursor: pointer;
}

@media screen and (max-width:1100px){
    form{
        width: 50%;
    }
}

@media screen and (max-width:600px){
    form{
        width: 60%;
    }
}

@media screen and (max-width:450px){
    form{
        width: 80%;
    }
}

@media screen and (max-width:300px){
    form{
        width: 90%;
    }
}